html, body {
    height: 100%;
}

.flex-container {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    background-color: #000000;
    color: #dddddd;
}

.flex-header, #buttons-row {
    flex: 0 1 auto;
    min-width: 0;
    width: 100%;
}

#header h1 {
    font-size: 400%;
    font-variant: small-caps;
    margin-bottom: 0;
}

#header p {
    font-size: 165%;
    margin-bottom: 0.8em;
}

.current-status {
    font-size: 28px;
}

.current-status p {
    margin-top: 10px;
}

.background-free {
    background-color: #77dd77;
}

.background-occupied {
    background-color: #ff6961;
}

.unavailable {
    background: radial-gradient(#cfcfc4, white 90%);
}

#main {
    margin: 1em;
    flex: 1 1 auto;
    padding-bottom: 1em;
}

.table-row {
    flex: 1 1 auto;
}

.table {
    height: 100%;
    margin: 0;
}

#buttons-row {
    margin-bottom: 1em;
}

.row button {
    margin: 5px;
}

#auth-forms {
    font-size: 120%;
}

th {
    text-align: center;
}

td, th {
    vertical-align: middle !important;
    font-size: 120%;
}

.booked {
    background-color: #ff6961;
}

.unavailable.booked {
    background: inherit;
    background-color: #ff9994;
}

.booked-start {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.booked-end {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.booking-cell.highlight {
    background-color: #c23b22;
    font-weight: bold;
}

.selected {
    background-color: #5bc0de;
}

.selected-hover {
    background-color: #b1e0f9;
}