body {
    font-size: 1.3em;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 2em;
    }
}

html, body {
    height: 100%;
}

h1 {
    font-size: 300%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#heading {
    height: 33%;
}

#main {
    height: 34%;
}

#buttons {
    height: 33%;
}

#main-container {
    border-width: 1em;
    border-style: solid;
}

#current-time {
    font-size: 350%;
}

#vertical-separator {
    height: 4em;
    border-right: 1px solid #999;
}

#booking-details p {
    margin: 0;
}

.btn {
    font-size: 0.8em;
    width: 10em;
    margin: 1em;
}

.warning { color: #ee0; }

.booked-bg, .close-to-booking-bg { border-color: #e00; }
.booked-fg, .close-to-booking-fg { color: #e00; }
.available-bg { border-color: #0a0; }
.available-fg { color: #0a0; }