extends layout

block content
    p Reservation to SuitePong confirmed!

    P Start: #{booking.start}
    p End: #{booking.end}
    p
        a(href='http://www.suitepong.com') http://www.suitepong.com
    p If you like this project please vote for it here:
    P
        a(href='https://confluence.corp.netsuite.com/display/IN/NCube8rs+2016') Game room reservation system (no. 80)